<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SLProject1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterDemo</display-name>
    <servlet-name>RegisterDemo</servlet-name>
    <servlet-class>com.RegisterDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterDemo</servlet-name>
    <url-pattern>/RegisterDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateDemo</display-name>
    <servlet-name>updateDemo</servlet-name>
    <servlet-class>com.updateDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDemo</servlet-name>
    <url-pattern>/updateDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDemo</display-name>
    <servlet-name>DeleteDemo</servlet-name>
    <servlet-class>com.DeleteDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDemo</servlet-name>
    <url-pattern>/DeleteDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Read</display-name>
    <servlet-name>Read</servlet-name>
    <servlet-class>com.Read</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Read</servlet-name>
    <url-pattern>/Read</url-pattern>
  </servlet-mapping>
</web-app>